@import "tailwindcss";

:root {
  --primaryGreen: #335f32;
  --textColor: #000000;
  --navbg: #fcfcfc;
  --border-gradient: linear-gradient(270deg, #335f32 42%, #eaa315 100%);
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: "Red Hat Display Variable", sans-serif;
  overflow-x: hidden;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.bg-gradient {
  background: linear-gradient(
    314.28deg,
    rgba(255, 255, 251, 0.7) 28.4%,
    rgba(246, 253, 244, 0.7) 60.34%,
    rgba(255, 237, 203, 0.7) 81.21%
  );
}

.swal2-styled {
  background: #335f32;
}
.swal2-title {
  color: #335f32;
}
